* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.timer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px;
    font-size: 50px;
    font-weight: bold;
}